.pxl-loader {
    background: var(--color-bodybg);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
    -khtml-transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
    -o-transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
}
.pxl-loader.style-3 .loading-dot-spinner {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-bglight);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
    margin: -30px 0 0 -30px;
    top: 50%;
    left: 50%;
}