.lg-actions .lg-next,
.lg-actions .lg-prev,
.lg-sub-html,
.lg-toolbar {
    background-color: rgba(255, 255, 255, .9);
}
.lg-outer {
    z-index: 1000000;
}
.lg-outer .lg-toogle-thumb,
.lg-outer .lg-thumb-outer,
.lg-outer .lg-img-wrap,
.lg-outer .lg-item {
    background-color: transparent;
}
.lg-outer .lg-object {
    border: 1px solid rgba(0, 0, 0, 0.20);
}
.lg-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    z-index: 999999;
}
.lg-outer .lg-toogle-thumb,
.lg-actions .lg-next,
.lg-actions .lg-prev,
.lg-toolbar .lg-icon,
#lg-counter {
    color: black;
}
.lg-next,
.lg-prev {
    background-color: var(--color-light);
    border-radius: 0;
    color: #999;
    padding: 10px 10px 10px;
}
.lg-next:hover,
.lg-prev:hover {
    background-color: var(--color-secondary);
    color: #fff;
}
.lg-outer .lg-thumb {
    width: auto !important;
}
.lg-outer .lg-thumb-item {
    border-radius: 0px;
    width: 70px !important;
    height: 70px !important;
    margin-right: 5px !important;
}
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: var(--color-secondary);
}
.lightimg {
    cursor: pointer;
}
.lg-toolbar .lg-icon:hover {
    color: var(--color-primary) !important;
}