@import "tailwindcss";

@import "./abstract/variable.css";
@import "./theme-color/skin.css";
@import "./layout/layout.css";
@import "./base/base.css";
@import "./component/component.css";
@import "./pages/pages.css";
@import "../vendor/xmenu/xmenu.css";

/* CUSTOM THEME */
@theme {

    --spacing: .25rem;

    /* FONT FAMILY */
    --font-base: "Poppins", "sans-serif";
    --font-title: "Poppins", "sans-serif";

    /* COLORS */
    --color-primary: var(--primary);
    --color-primary-30: rgba(var(--primary-rgb), 0.03);
    --color-primary-50: rgba(var(--primary-rgb), 0.05);
    --color-primary-70: rgba(var(--primary-rgb), 0.07);
    --color-primary-100: rgba(var(--primary-rgb), 0.1);
    --color-primary-200: rgba(var(--primary-rgb), 0.2);
    --color-primary-300: rgba(var(--primary-rgb), 0.3);
    --color-primary-400: rgba(var(--primary-rgb), 0.4);
    --color-primary-500: rgba(var(--primary-rgb), 0.5);
    --color-primary-600: rgba(var(--primary-rgb), 0.6);
    --color-primary-700: rgba(var(--primary-rgb), 0.7);
    --color-primary-800: rgba(var(--primary-rgb), 0.8);
    --color-primary-900: rgba(var(--primary-rgb), 0.9);
    --color-primarydark: var(--primarydark);
    --color-primarylight: var(--primarylight);
    
    --color-secondary: var(--secondary);
    --color-secondary-rgb: var(--secondary-rgb);
    --color-secondarydark: var(--secondarydark);

    --color-light-rgb: 236, 245, 251;
    --color-white-rgb: 255, 255, 255;
    --color-light: var(--light);
    --color-bodybg: var(--body-bg);
    --color-bodycolor: var(--body-color);
    --color-heading: var(--heading-color);
    --color-border: #E1EBF1;
    
    --color-star: #ff8717;
    --color-red: #ff4747;
    
    --color-success: #31A56D;
    --color-success-hover: #50b383;
    --color-success-light: #d4edda;
    --color-info: #0194D9;
    --color-info-hover: #27a4df;
    --color-info-light: #cce5ff;
    --color-warning: #E79600;
    --color-warning-hover: #eba626;
    --color-warning-light: #fff3cd;
    --color-danger: #D23636;
    --color-danger-hover: #b32e2e;
    --color-danger-light: #f8d7da;
    
    --color-linkedin: #007BB6;
    --color-instagram: #8A5A4E;
    --color-facebook: #3B5998;
    --color-twitter: #1EA1F3;
    --color-youtube: #CE201F;
    --color-whatsapp: #01C854;
    --color-goggle-plus: #DE4E43;

    --color-yellow-50: oklch(0.78 0.03 81.38);
    --color-yellow-100: oklch(0.973 0.071 103.193);
    --color-yellow-200: oklch(0.945 0.129 101.54);
    --color-yellow-300: oklch(0.94 0.19 106.75);
    --color-yellow-400: oklch(0.87 0.16 88.92);
    --color-yellow-500: oklch(0.96 0.21 111.19);
    --color-yellow-600: oklch(0.74 0.18 54.73);
    --color-yellow-700: oklch(0.75 0.18 57.36);
    --color-yellow-800: oklch(0.476 0.114 61.907);
    --color-yellow-900: oklch(0.421 0.095 57.708);
    --color-yellow-950: oklch(0.286 0.066 53.813);

    /* FONTSIZE */
    --text-tiny: 10px;
    --text-2xs: 13px;
    --text-2xs--line-height: 1;
    --text-2sm: 15px;
    --text-2sm--line-height: 19px;
    --text-2xxl: 1.75rem;
    --text-2xxl--line-height: 1.4;
    --text-3xxl: 35px;
    --text-3xxl--line-height: 1.3;
    --text-4xl: 40px;
    --text-4xl--line-height: 1.3;
    --text-4xxl: 45px;
    --text-4xxl--line-height: 1.3;
    --text-5xl: 50px;
    --text-5xl--line-height: 1.2;
    --text-5xxl: 55px;
    --text-5xxl--line-height: 1.2;
    --text-6xl: 60px;
    --text-6xl--line-height: 1.2;
    --text-6xxl: 65px;
    --text-6xxl--line-height: 1.2;
    --text-7xxl: 55px;
    --text-7xxl--line-height: 1.2;
    --text-8xl: 80px;
    --text-8xl--line-height: 1.2;
    --text-8xxl: 85px;
    --text-8xxl--line-height: 1.2;

    /* BREAKPOINTS */
    --breakpoint-*: initial;
    --breakpoint-xs: 425px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1199px;
    --breakpoint-xxl: 1281px;
    --breakpoint-2xl: 1400px;
    --breakpoint-2xxl: 1481px;
    --breakpoint-3xl: 1681px;
    --breakpoint-4xl: 1800px;
	
	--max-breakpoint-sm: 575px;
    --max-breakpoint-md: 768px;
    --max-breakpoint-lg: 991px;
    --max-breakpoint-xl: 1199px;
    --max-breakpoint-2xl: 1480px;
    --max-breakpoint-3xl: 1680px;
    --max-breakpoint-4xl: 1800px;

    /* BACKGROUND IMAGE */
    --background-image-rounded-corner: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M0 0V50H50C22.3858 50 0 27.6142 0 0Z' fill='white'/></svg>");
    --background-image-input-check: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    --background-image-qoute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 137 97' fill='none'><path d='M30.3827 96.853C13.6299 96.853 0.0022583 83.2254 0.0022583 66.4724C0.0022583 50.3111 12.685 37.0558 28.6205 36.14C28.8964 33.1611 28.6894 25.0522 20.9192 13.7722C20.3318 12.9213 20.4384 11.7737 21.1679 11.0442C24.3476 7.86449 26.3127 5.86192 27.688 4.46131C29.4881 2.63001 30.3097 1.79388 31.5116 0.702599C31.9192 0.332703 32.4334 0.146683 32.9499 0.146683C33.4515 0.146683 33.9511 0.322197 34.3546 0.671341C47.8945 12.4531 62.9354 36.7965 60.7592 66.6272C59.484 84.1409 46.7092 96.853 30.3827 96.853ZM32.9707 5.21182C32.3876 5.78657 31.7227 6.46387 30.7423 7.4612C29.5508 8.67557 27.916 10.3397 25.4367 12.8273C34.8668 27.3581 33.0856 37.7078 32.306 39.1921C31.9359 39.8966 31.177 40.3711 30.3827 40.3711C15.9921 40.3711 4.28351 52.0797 4.28351 66.4724C4.28351 80.8632 15.9921 92.5718 30.3827 92.5718C44.4014 92.5718 55.3805 81.53 56.4904 66.3179C58.9362 32.7659 38.9955 10.9814 32.9707 5.21182Z' fill='black'/><path d='M136.787 66.6272C135.507 84.1388 122.731 96.853 106.408 96.853C89.6555 96.853 76.0257 83.2254 76.0257 66.4724C76.0257 50.3111 88.7106 37.0558 104.648 36.14C104.924 33.1632 104.715 25.0586 96.9428 13.7722C96.3554 12.9213 96.462 11.7737 97.1915 11.0442C100.359 7.87711 102.319 5.87863 103.695 4.48016C105.503 2.63644 106.329 1.79604 107.537 0.700668C107.945 0.332703 108.461 0.146683 108.975 0.146683C109.477 0.146683 109.977 0.322197 110.38 0.673477C123.92 12.4553 138.961 36.7984 136.787 66.6272ZM108.996 5.21182C108.409 5.79086 107.738 6.47222 106.749 7.47981C105.558 8.69248 103.929 10.3521 101.46 12.8273C110.89 27.3602 109.111 37.7078 108.334 39.1921C107.964 39.8944 107.203 40.3711 106.408 40.3711C92.0155 40.3711 80.3069 52.0797 80.3069 66.4724C80.3069 80.8632 92.0155 92.5718 106.408 92.5718C120.425 92.5718 131.406 81.53 132.518 66.3157C134.962 32.7681 115.021 10.9814 108.996 5.21182Z' fill='black'/></svg>");
    --background-image-starsvg: url("data:image/svg+xml,<svg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 0L7.69706 4.30294L12 6L7.69706 7.69706L6 12L4.30294 7.69706L0 6L4.30294 4.30294L6 0Z' fill='%235A6D84'/></svg>");
    --background-image-starsvg-white: url("data:image/svg+xml,<svg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 0L7.69706 4.30294L12 6L7.69706 7.69706L6 12L4.30294 7.69706L0 6L4.30294 4.30294L6 0Z' fill='white' /></svg>");
    --background-image-starsvg-dark: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30" fill="none"><path d="M15.5918 0L17.7131 12.8787L30.5918 15L17.7131 17.1213L15.5918 30L13.4705 17.1213L0.591797 15L13.4705 12.8787L15.5918 0Z" fill="%230A3366"/></svg>');
    --background-image-commentsvg: url('data:image/svg+xml,<svg width="146" height="146" viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M115.583 12.1667H109.5V6.08333C109.5 4.46993 108.859 2.92261 107.718 1.78177C106.577 0.640921 105.03 0 103.417 0C101.803 0 100.256 0.640921 99.1151 1.78177C97.9743 2.92261 97.3333 4.46993 97.3333 6.08333V12.1667H48.6667V6.08333C48.6667 4.46993 48.0257 2.92261 46.8849 1.78177C45.7441 0.640921 44.1967 0 42.5833 0C40.9699 0 39.4226 0.640921 38.2818 1.78177C37.1409 2.92261 36.5 4.46993 36.5 6.08333V12.1667H30.4167C22.3526 12.1763 14.6216 15.384 8.9195 21.0862C3.21737 26.7883 0.00965947 34.5193 0 42.5833L0 115.583C0.00965947 123.647 3.21737 131.378 8.9195 137.081C14.6216 142.783 22.3526 145.99 30.4167 146H115.583C123.647 145.99 131.378 142.783 137.081 137.081C142.783 131.378 145.99 123.647 146 115.583V42.5833C145.99 34.5193 142.783 26.7883 137.081 21.0862C131.378 15.384 123.647 12.1763 115.583 12.1667ZM12.1667 42.5833C12.1667 37.7431 14.0894 33.1012 17.512 29.6786C20.9345 26.2561 25.5765 24.3333 30.4167 24.3333H115.583C120.424 24.3333 125.065 26.2561 128.488 29.6786C131.911 33.1012 133.833 37.7431 133.833 42.5833V48.6667H12.1667V42.5833ZM115.583 133.833H30.4167C25.5765 133.833 20.9345 131.911 17.512 128.488C14.0894 125.065 12.1667 120.424 12.1667 115.583V60.8333H133.833V115.583C133.833 120.424 131.911 125.065 128.488 128.488C125.065 131.911 120.424 133.833 115.583 133.833Z" fill="white" fill-opacity="0.05"/><path d="M73 100.375C78.0396 100.375 82.125 96.2896 82.125 91.25C82.125 86.2104 78.0396 82.125 73 82.125C67.9604 82.125 63.875 86.2104 63.875 91.25C63.875 96.2896 67.9604 100.375 73 100.375Z" fill="white" fill-opacity="0.05"/><path d="M42.5835 100.375C47.6231 100.375 51.7085 96.2896 51.7085 91.25C51.7085 86.2104 47.6231 82.125 42.5835 82.125C37.5439 82.125 33.4585 86.2104 33.4585 91.25C33.4585 96.2896 37.5439 100.375 42.5835 100.375Z" fill="white" fill-opacity="0.05"/><path d="M103.417 100.375C108.456 100.375 112.542 96.2896 112.542 91.25C112.542 86.2104 108.456 82.125 103.417 82.125C98.3769 82.125 94.2915 86.2104 94.2915 91.25C94.2915 96.2896 98.3769 100.375 103.417 100.375Z" fill="white" fill-opacity="0.05"/></svg>');
    --background-image-rounded-border: url("data:image/svg+xml,<svg width='177' height='177' viewBox='0 0 177 177' fill='none' xmlns='http://www.w3.org/2000/svg'><circle opacity='0.05' cx='88.5' cy='88.5' r='88' stroke='black'/><circle opacity='0.2' cx='88.5' cy='88.5' r='72' stroke='black'/><circle opacity='0.1' cx='89' cy='89' r='80.5' stroke='black'/></svg>");
    --background-image-timeline-wrapper: url("data:image/svg+xml,<svg viewBox='0 0 1919 342' fill='none' xmlns='http://www.w3.org/2000/svg'><path opacity='0.25' d='M-3 1H910C937.614 1 960 23.3858 960 51V291C960 318.614 982.386 341 1010 341H1919' stroke='black' stroke-width='2'/></svg>");
    
    /* GRADIENT */
    --bg1-gradient: 180deg, #203400 0%, #1B2012 100%;
    --bg2-gradient: to bottom, rgba(0, 0, 0, 0) 50%, var(--color-primary) 100%;
    --icon-bx-footer-gradient: to right, rgba(86, 101, 147, 0.3) 50%, rgba(255, 255, 255, 0) 0%;
    --icon-bx-footer-white-gradient: to right, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 0%;
    --content-bx-2-gradient: 45deg, rgba(var(--secondary-rgb), 0.1), transparent 80%;
    --content-bx-3-gradient: 45deg, rgba(var(--primary-rgb), 0.1), transparent 80%;
    --content-wrapper-gradient: to bottom, rgba(30, 87, 153, 0) 0%, rgb(255, 255, 255) 100%;
    --content-wrapper-2-gradient: to right, rgba(30, 87, 153, 0) 0%, rgb(255, 255, 255) 100%;
    --content-wrapper-3-gradient: to left, rgba(0, 0, 0, 0) 0%, var(--color-light) 20%;
    --banner-2-gradient: to right, rgb(255, 243, 248) 0%, rgba(255, 243, 248, 0) 50%, rgb(255, 243, 248) 100%;
    --seprator-gradient: to right, rgba(86, 101, 147, 0.3) 50%, rgba(255, 255, 255, 0) 0%;
    --card-2-gradient: to top, rgba(3, 27, 78, 0.4) 0%, rgba(3, 27, 78, 0);
    --top-light-gradient: to top, rgba(0, 0, 0, 0) 0%, #ffffff 100%;
    --team-media2-gradient: 180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 64.5%;
    --title-gradient: to right, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 0%;
    --title2-gradient: to right, var(--color-secondary) 0, rgba(0, 0, 0, 0) 100%;
    --title3-gradient: to right, #fff 0, rgba(0, 0, 0, 0) 100%;
    --sub-title-gradient: 45deg, rgba(var(--primary-rgb), 0.2), transparent;
    --img-hover-gradient: to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%;
    --vertical-divider-gradient: to bottom, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0) 100%;
    --primary-gradient: to bottom, rgba(0, 0, 0, 0) 50%, rgba(var(--primary-rgb), 0.05) 100%;


    /* SHADOW */
    --shadow-circle: 0 0 20px rgba(0,0,0,.05);
    --shadow-1: 0 0 30px rgba(0,0,0,.05);
    --shadow-2: 0 20px 60px rgba(0, 0, 0, .05);
    --shadow-3: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    --shadow-4: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --shadow-5: -20px 10px 50px rgba(var(--secondary-rgb), 0.1);
    --shadow-6: 0 20px 50px rgba(var(--secondary-rgb), 0.1);
    --shadow-7: 0 10px 30px rgba(0, 0, 0, 0.05);
    --shadow-8: 0 0 20px rgba(var(--secondary-rgb), 0.02);
    --shadow-9: 0 0 60px rgba(var(--secondary-rgb), 0.05);
    --shadow-10: 0 0 50px rgba(var(--secondary-rgb), 0.1);
    --shadow-11: 0 0 40px rgba(var(--secondary-rgb), 0.07);
    --shadow-12: 0 0px 15px rgba(var(--secondary-rgb), 0.05);
    --shadow-13: 0 0 30px rgba(var(--secondary-rgb), 0.1);
    --shadow-14: 0 0 50px rgba(var(--secondary-rgb), 0.05);
    --shadow-15: 0 0 30px rgba(var(--secondary-rgb), 0.05);
    --shadow-img-box-1: 0 0 35px rgba(3, 27, 78, 0.05);
    --shadow-btn-squre: 0 20px 50px rgba(3, 27, 78, 0.1);
    --shadow-info-widget-3: 0 0 50px rgba(3, 27, 78, 0.1);
    --shadow-info-widget-10: 0 20px 50px rgba(3, 27, 78, 0.1);
    --shadow-video-bx: 0 0 30px rgba(3, 27, 78, 0.1);
    --shadow-accordion: var(--accordion-shadow);
    --shadow-input: 0 20px 60px rgba(0, 0, 0, 0.05);
    --shadow-icon-bx-9: 0 10px 30px rgba(0, 0, 0, 0.02);
    --shadow-table: inset 0 0 0 9999px #F4F6FA;
    --shadow-btn: 0 5px 20px rgba(0, 0, 0, 0.05);
    --shadow-submenu: 0 20px 40px rgba(0, 0, 0, 0.05);
    --shadow-scroll-top: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
    --shadow-breadcrumb: 0 0 30px rgba(var(--secondary-rgb), 0.05);

    --drop-shadow-icon-bx-wraper-3: 0 20px 50px rgba(3, 27, 78, 0.02);

    /* Z-INDEX */
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-4: 4;
    --z-index-9: 9;
    --z-index-99: 99;
    --z-index-999: 999;
    --z-index-9999: 9999;
    --z-index-99999: 99999;
    --z-index-999999: 999999;

    /*  BORDER RADIUS*/
    --radius-2lg: 10px;
    --radius-xxl: 15px;
    --radius-2xl: 20px;
    --radius-2xxl: 25px;
    --radius-3xl: 30px;
    --radius-3xxl: 35px;
    --radius-4xl: 40px;
    --radius-4xxl: 45px;
    --radius-5xl: 50px;
    --radius-6xl: 60px;
    --radius-8xl: 80px;

    /* ANIMATIONS */
    --animate-move1: move1 10s infinite;
    --animate-move2: move2 10s infinite;
    --animate-move3: move3 5s infinite;
    --animate-move4: move4 5s infinite;
    --animate-toTopRight: toTopRight 0.5s forwards;
    --animate-toRightFromLeft: toRightFromLeft 0.3s forwards;
    --animate-dzRing: dzRing 1.2s infinite ease-in-out;
    --animate-circleWrapper: circleWrapper 25s linear infinite;
    --animate-ticker: ticker 60s linear infinite 0s normal;
    --animate-identifier: identifier 20s linear infinite;
    --animate-circleWrapper2 : circleWrapper2 25s linear infinite;
    --animate-dzShine : dzShine 0.75s;
    --animate-dzShine2 : dzShine2 0.75s;
    --animate-shake : shake 1s;
    --animate-headerSlideDown : headerSlideDown 0.95s ease 0s normal forwards 1 running;
    --animate-dzRing1 : dzRing1 2s linear infinite;
    --animate-dzRing2 : dzRing2 2s linear infinite;
    --animate-dzRing3 : dzRing3 2s linear infinite;
    --animate-dzRing4 : dzRing4 2s linear infinite;
    --animate-badgeZoom: badgeZoom 0.95s infinite ease-in-out;
    --animate-animationSignal1: animationSignal1;
    --animate-animationSignal2: animationSignal2;
}